[settings]
database=application.db
log_filename=application.log
putio_token=PUTIOTOKEN
incomplete=/folder/where/incomplete/downloads/are/saved
torrents=/folder/where/torrents/are/found
downloads=/folder/where/downloads/are/saved
clean_interval=10
download_interval=120
download_limit=2
