appdirs==1.4.2
click==6.7
cogapp==2.5.1
Flask==0.12
Flask-Script==2.0.5
itsdangerous==0.24
Jinja2==2.9.5
MarkupSafe==0.23
meld3==1.0.2
packaging==16.8
putio.py==6.0.0
pyinotify==0.9.6
pyparsing==2.1.10
python-dotenv==0.6.3
requests==2.13.0
six==1.10.0
supervisor==3.3.1
tus.py==1.2.0
Werkzeug==0.11.15
