import logging
import os

from dotenv import load_dotenv

dotenv_path = os.path.join(os.getcwd(), '.env')
if os.path.isfile(dotenv_path):
    load_dotenv(dotenv_path)

LOG_LEVEL = os.getenv('LOG_LEVEL', 'WARNING')
MAIL_TO = os.getenv('MAIL_TO')
PUTIO_TOKEN = os.getenv('PUTIO_TOKEN')

DOWNLOADS = '/files/downloads'
INCOMPLETE = '/files/incomplete'
TORRENTS = '/files/torrents'

PUTIO_ROOT = os.getenv('PUTIO_ROOT', 0)
